/* TopBar.css */
.top-bar {
  background-color: #333;
  color: #fff;
  padding: 0px;
}

.top-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.top-bar li {
  margin-right: 20px;
}

.top-bar a {
  text-decoration: none;
  color: #fff;
}
